doctype html
html(lang="en")
  head

    title Atomic Armies: Aftermath

    meta(
      charset="utf-8"
    )

    meta(
      name="viewport"
      content="width=device-width, initial-scale=1"
    )

    //- Fonts
    link(
      href = "http://fonts.googleapis.com/css?family=Open+Sans:300,400,700"
      rel = "stylesheet"
      type = "text/css"
    )

    //- CSS
    link(
      type="text/css"
      rel="stylesheet"
      media="all"
      href="./index.css?v=#{DATE_TIME}"
    )

  body

    .body
      .hero
        .heroBg
        .heroGeneral
        .heroLogo
      .heroAftermath
        .heroAftermath__copy

      .bodyContent

        p.p.p--intro.
          This is the story of how I spent 18 months on a journey to become an entrepreneur, indie game dev, and millionaire before 30. Long story short: I failed! During that time, I made some of the biggest mistakes of my life, met some of the most amazing people I&rsquo;ve ever known, and managed to muddle my way into building some weird, awesome stuff.

        p.p.
          I spent most of that time developing a game called Atomic Armies. Here&rsquo;s what the game looked like when I decided to pull the plug:

        figure
          .image.js-image(
            data-src="aa1_gameplay_example"
            data-low-res
          )
          figcaption.caption.
            After putting so much time into this game, giving it up was one of the hardest things I&rsquo;ve ever done.

        p.p.
          It looks like a Zynga game, and it basically was. But before any of the video game snobs out there write it off, I just want to say that, social games aside, the journey I took was an epic one. I poured a staggering amount of work into this. And all I got was this stupid post-mortem! Hooray!

        hr.divider

        p.p.
          Let&rsquo;s rewind to April, 2010. I was 26 years old, in love with an incredible woman named Karla (whom I would later marry), and I was starting to burn out at the tail-end of a successful visual effects career. For a few years I had been churning out renders of particle systems and simple physics simulations which were composited into commercials and then broadcast on TV. I would do this for a few months at a time, take a break for a week or two, and then repeat the cycle. I started to feel like Phil in Groundhog Day. I needed to break free.

        blockquote.panel
          .panelTitle
            | When to quit your day job
          p.panel__p.
            I think if you feel like you&rsquo;re getting less out of your job than you&rsquo;re putting in, then it&rsquo;s a good time to leave. And this is especially true when you&rsquo;re young and have fewer responsibilities, because that&rsquo;s the best time you can take risks and recover from failure.
          p.panel__p.
            In terms of my job, I had become really good at writing one-off programs that generated interesting visual effects, but I felt like I had hit a plateau. I wasn&rsquo;t learning anything new and I felt like I was wasting my time.
          p.panel__p.
            In terms of risk, I knew I wanted to marry Karla, and down that road lay responsibilities like car loans, a mortgage, and kids. Women have the best chance at a healthy pregnancy before 35, so I had a pretty hard window in which I could attempt my reach goals before I had to get serious about being a grown-up.

        p.p.
          At the time, Mafia Wars had just put Zynga on the map, dazzling tech journalists, entrepreneurs, and VCs with the magic of social gaming. &ldquo;Social&rdquo; was the buzzword of the day (later, &ldquo;mobile&rdquo; and &ldquo;local&rdquo; would usurp the throne). I decided this was my opportunity to quit my day job to fame, glory, and riches. I gave notice and I was on my own. And I can say this with confidence: I proceeded to make every mistake you can possibly make when starting a venture. I was so clueless, it was almost comical.

        h3.h3.
          How (not) to start a game-dev business

        p.p.
          It&rsquo;s embarrassing to admit how <em>little</em> I knew about business, entrepreneurship, and game-making. Game dev consists of making games and then making money with them. Instead of doing that, I spent my first few months running around doing things that were <em>completely irrelevant</em> to my goals:

        ul.list
          li.
            I thought I needed to establish a formal business, so I created a Delaware LLC using LegalZoom, opened up a business checking around with Chase, designed a company logo and website, and printed up a ton of business cards, most of which are sitting in a box in my garage right now.
          li.
            I thought I needed a business plan, so I paid someone $5,000 to write up a business plan, containing a SWOT analysis and a bunch of other stuff which, surprise, didn&rsquo;t really make a difference except make me poorer.
          li.
            I thought I needed a scalable infrastructure, and I had read something about sharding online which sounded important, so I hired a software engineer from Google to set up some servers for me and build a deployment system. What was I thinking?! I&rsquo;m literally blushing as I write this.
          li.
            I thought I needed to do things &ldquo;right&rdquo;, and at the time doing development right meant using Scrum. So I read up on story points and burndown charts and sprints, and did a one-man variant of Scrum. This was actually not as completely absurd as it sounds, but it was definitely not necessary or very helpful.

        p.p.
          Notice how none of these things involve making a game! When I think back on these mistakes, I like to remind myself that mistakes are learning experiences, and the important thing is to avoid making the same mistake twice.

        blockquote.panel
          .panelTitle
            | How to cut out the bullshit
          p.panel__p.
            Develop a severe allergy to things that <em>just don&rsquo;t matter.</em> If anything doesn&rsquo;t get you closer to your goal, just don&rsquo;t do it.
          p.panel__p.
            It helps to define an MVP as your goal. Identify some low-hanging fruit to go after, and figure out the quickest route to plucking it. In my case, this shouldn&rsquo;t have been &ldquo;make a million dollars with a social game.&rdquo; That&rsquo;s just too vague and insane. A better goal would have been &ldquo;make a fun single-player game.&rdquo; This goal is specific and clear, and results in a small, well-defined scope.
          p.panel__p.
            Ask yourself, &ldquo;What am I trying to accomplish?&rdquo; This may not be easy to answer. Chew it over and drill down until you come up with something simple and clear. And then ask yourself, &ldquo;What&rsquo;s stopping me from accomplishing that today?&rdquo; You&rsquo;ll end up with a to-do list you can work on immediately, which will inevitably lead you to accomplishing your goal. Chances are, creating an LLC and writing a business plan are not on that list.

        h3.h3.
          The MVP: &ldquo;Armies&rdquo;

        blockquote.quote
          .quoteBody.
            The game takes place after a nuclear war, and civilization has been wiped out. You emerge from your bunker and have to reclaim decimated cities, build your tech tree and army, and work with your friends to battle and defeat other players for resources.
          footer.quoteFooter.
            The idea behind my MVP game, &ldquo;Armies&rdquo;.

        p.p.
          On June 27, 2010, I entered Armies into beta testing on Facebook. The basic idea of the game was simple: you place units on a the left side of a battlefield, which move towards units on the right. When they meet in the middle, they fight. It was essentially an asynchronous multiplayer version of a Flash game I liked, called
          <a href="http://armorgames.com/play/4264/colony" target="_blank">Colony</a>,
          but with some social game mechanics layered on. There was XP for leveling up, a friends list so you can pick which friend to attack, and a log of recent battles won and lost. And what would a social game be without virtual currency so you can buy stuff in the online store?

        p.p.
          Before I go on, I need to give a shout-out. While at GDC Vancouver, I met a few really talented art students, one of whom was kind of enough to help me out with artwork. Thanks
          <a href="http://www.alexkola.com/" target="_blank">Alex</a>!

        figure
          .image.js-image(
            data-src="aa0_cities"
            data-type="jpg"
            data-low-res
          )
          figcaption.caption.
            The single-player portion allowed you to attack NPCs, which would earn you a slow, steady stream of currency once conquered. It&rsquo;s like Farmville, but with guns.

        figure
          .image.js-image(
            data-src="aa0_targets"
            data-type="jpg"
            data-low-res
          )
          figcaption.caption.
            Waging war against your friends is just good, wholesome fun.

        figure
          .image.js-image(
            data-src="aa0_attack"
            data-type="jpg"
            data-low-res
          )
          figcaption.caption.
            Ready to attack? Set up your units in attack formation. This mechanic was inspired by the way the original StarCraft let you load up Dropships and Overlords.

        figure
          .image.js-image(
            data-src="aa0_combat"
            data-type="jpg"
            data-low-res
          )
          figcaption.caption.
            &ldquo;Armies&rdquo; &mdash; I wonder what it&rsquo;s about?

        figure
          .image.js-image(
            data-src="aa0_store"
            data-type="jpg"
            data-low-res
          )
          figcaption.caption.
            Get units galore and more, at your local War Store.

        p.p.
         My friends helped me out by beta testing the game. The more trollish ones played the most, because they kept discovering game imbalance exploits and using them to harass other players (&rsquo;m looking at you, Damien, Ben, and Groves). I was gathering good feedback on what was fun and what wasn&rsquo;t.

        p.p.


    script(
      src="./index.js?v=#{DATE_TIME}"
    )

    //- Google Analytics
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-76865012-1', 'auto');
      ga('send', 'pageview');
