doctype html
html(lang="en")
  head

    title Atomic Armies: A Post-Mortem

    meta(
      charset="utf-8"
    )

    meta(
      name="viewport"
      content="width=device-width, initial-scale=1"
    )

    //- Fonts
    link(
      href = "http://fonts.googleapis.com/css?family=Open+Sans:300,400,700"
      rel = "stylesheet"
      type = "text/css"
    )

    //- CSS
    link(
      type="text/css"
      rel="stylesheet"
      media="all"
      href="./index.css?v=#{DATE_TIME}"
    )

  body

    .body
      .hero
        .heroBg
        .heroGeneral
        .heroLogo
      .heroAftermath.
        <span>A game-dev post-mortem &mdash; <a class="heroLink" href="http://www.cenizal.com" target="_blank">by CJ Cenizal</a></span>

      .bodyContent

        p.p.p--intro.
          This is the story of how I spent 18 months on an adventure to become an entrepreneur, indie game dev, and millionaire. <strong>Spoiler alert:</strong> my dreams of fame and fortune didn&rsquo;t come true. <em>But I did have one hell of a ride</em>.

        p.p.
          I&rsquo;m going to share with you every cringe-worthy mistake I made, but I&rsquo;m also going to tell you about one of the most amazing people I&rsquo;ve ever met and dive into some of the coolest things I&rsquo;ve ever built. My magnum opus was an isometric multiplayer war game called Atomic Armies. I&rsquo;ll walk you down the twisting path that lead to this game&rsquo;s birth and, ultimately, to its demise.

        p.p.
          If you want to play a single-player demo of the game,
          <a href="./game" target="_blank">here it is!</a>

        figure
          .image.js-image(
            data-src="aa2_gameplay_example"
            data-type="jpg"
            data-low-res
          )
          figcaption.caption.
            KABOOM!

        hr.divider

        h2.h2.
          A rocky start

        p.p.
          This story kicks off in the April of 2010. I was 26 years old, in love with an incredible woman named Karla (whom I would later marry), and I was starting to burn out at the tail-end of a successful visual effects career. For a few years I had been churning out renders of particle systems and simple physics simulations which were composited into commercials and then broadcast on TV. I would do this for a few months at a time, take a break for a week or two, and then repeat the cycle. I started to feel like Phil in Groundhog Day. I needed to break the cycle.

        blockquote.panel
          .panelTitle
            | When to quit your day job
          p.panel__p.
            I think if you feel like you&rsquo;re getting less out of your job than you&rsquo;re putting in, then it&rsquo;s a good time to leave. And this is especially true when you&rsquo;re young and have fewer responsibilities, because that&rsquo;s the best time you can take risks and recover from failure.
          p.panel__p.
            In terms of my job, I had become really good at writing one-off programs that generated interesting visual effects, but I felt like I had hit a plateau. I wasn&rsquo;t learning anything new and I felt like I was wasting my time.
          p.panel__p.
            In terms of risk, I knew I wanted to marry Karla, and down that road lay responsibilities like car loans, a mortgage, and kids. Women have the best chance at a healthy pregnancy before 35, so I had a pretty hard window in which I could attempt my reach goals before I had to get serious about being a grown-up.

        p.p.
          At the time, Mafia Wars had just put Zynga on the map, dazzling tech journalists, entrepreneurs, and VCs with the magic of social gaming. &ldquo;Social&rdquo; was the buzzword of the day (later, &ldquo;mobile&rdquo; and &ldquo;local&rdquo; would usurp the throne). I decided this was my opportunity to quit my day job to fame, glory, and riches. I gave notice and I was on my own.

        p.p.
          It&rsquo;s embarrassing to admit how <em>little</em> I knew about business, entrepreneurship, and game-making when I first started. Game dev consists of making games and then making money with them. Instead of doing that, I spent my first few months doing a lot of things that were, well, not that. The highlights:

        ul.list
          li.
            I thought I needed to establish a formal business. So I created a company called Elevated Games, registered an LLC in Delaware with LegalZoom (which was very affordable, by the way), opened up a business checking around with Chase, designed a company logo and website, and printed up a ton of business cards, most of which are sitting in a box in my garage right now.
          li.
            I thought I needed a business plan, so I paid someone $5,000 to write up a <a href="./assets/downloads/elevated_games_business_plan.pdf" target="_blank">business plan</a>, containing a SWOT analysis and a bunch of other stuff which, surprise, didn&rsquo;t really make a difference except make me poorer.
          li.
            I thought I needed a scalable infrastructure, and I had read something about sharding online which sounded important, so I hired a software engineer from Google to set up some servers for me and build a deployment system. What was I thinking?!
          li.
            I thought I needed to do things &ldquo;right&rdquo;, and at the time doing development right meant doing Scrum. So I read up on story points and burndown charts and sprints, and did a one-man variant of Scrum. Here&rsquo;s my <a href="./assets/product_backlog/index.html" target="_blank">product backlog</a>, which I made with Google Spreadsheets.

        figure
          .image.js-image(
            data-src="elevated_games_card"
            data-type="jpg"
          )
          figcaption.caption.
            Not a game.

        p.p.
          When I think back on these mistakes, I like to remind myself that mistakes are learning experiences, and the important thing is to avoid making the same mistake twice.

        blockquote.panel
          .panelTitle
            | How to cut out the bullshit
          p.panel__p.
            If I could go back and do things over, I would have violently avoided doing things that <em>just don&rsquo;t matter.</em> If something doesn&rsquo;t get you closer to your goal&hellip; just don&rsquo;t do it!
          p.panel__p.
            It helps to define an MVP as your goal. Identify some low-hanging fruit to go after, and figure out the quickest route to plucking it. In my case, this shouldn&rsquo;t have been &ldquo;make a million dollars with a social game.&rdquo; That&rsquo;s just too vague and insane. A better goal would have been &ldquo;make a fun single-player game.&rdquo; This goal is specific and clear, and results in a small, well-defined scope.
          p.panel__p.
            Ask yourself, &ldquo;What am I trying to accomplish?&rdquo; This may not be easy to answer. Chew it over and drill down until you come up with something simple and clear. And then ask yourself, &ldquo;What&rsquo;s stopping me from accomplishing that today?&rdquo; You&rsquo;ll end up with a to-do list you can work on immediately, which will inevitably lead you to accomplishing your goal. Chances are, creating an LLC and writing a business plan are not on that list.

        p.p.
          Fortunately, after a few months of screwing around and wasting my limited amount of money, I learned my lesson. I vowed to save my money and focused on developing my game until it was playable.

        hr.divider

        h2.h2.
          The MVP: &ldquo;Armies&rdquo;

        blockquote.quote
          .quoteBody.
            The game takes place after a nuclear war, and civilization has been wiped out. You emerge from your bunker and have to reclaim decimated cities, build your tech tree and army, and work with your friends to battle and defeat other players for resources.

        p.p.
          This was the idea behind my MVP game, which I called &ldquo;Armies&rdquo;. The basic idea of the game was simple: you place units on a the left side of a battlefield, which move towards units on the right. When they meet in the middle, they fight. It was essentially an asynchronous multiplayer version of a Flash game I liked, called
          <a href="http://armorgames.com/play/4264/colony" target="_blank">Colony</a>,
          but with some social game mechanics layered on. There was a friends list so you can pick which friend to attack, a log of recent battles won and lost, and of course virtual currency to support my monetization strategy.

        p.p.
          Before I go on, I need to give a shout-out. While at GDC Vancouver, I met a few really talented art students, one of whom was kind of enough to help me out with artwork. Thanks
          <a href="http://www.alexkola.com/" target="_blank">Alex</a>!

        figure
          .image.js-image(
            data-src="aa0_gameplay"
            data-type="jpg"
            data-low-res
          )
          figcaption.caption.
            Armies wasn&rsquo;t the prettiest belle at the ball, but it was playable.

        p.p.
          Armies had a single-player portion allowed you to attack cities, which would earn you a slow, steady stream of resources once conquered. It was inspired by Farmville&rsquo;s core game loop, but with war instead of farming. You could also wage war against your friends which, besides being more fun, would also earn you more resources. When you launched an attack, you would go through a set-up phase where you have to pick the units you want to send into battle and arrange them into a formation. This interaction was inspired by the way the original StarCraft let you load up Dropships and Overlords. With the resources you earned, you could buy more units.

        figure
          iframe.audio(
            width="100%"
            height="100"
            scrolling="no"
            frameborder="no"
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/261447261&amp;auto_play=false&amp;hide_related=true&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;visual=false"
          )
          figcaption.caption.
            It even had a custom soundtrack, crafted by sound-genius <a href="http://www.manifestmusicproductions.com/" target="_blank">Adam Berg</a>.

        p.p.
          On June 27, 2010, I entered Armies into beta testing on Facebook. My friends helped me out a <strong>lot</strong> here. The trolls among them were the best. They played the most because they kept discovering game imbalance exploits and would use them to harass other players (I&rsquo;m looking at you, Damien, Ben, and Groves). I gathered some great feedback on what was fun and what wasn&rsquo;t.

        p.p.
          But as you can tell from the screenshots, the game looked a little rough around the edges. But then, in a pivotal moment in my life, all of that changed.

        hr.divider

        h2.h2.
          Trent Kaniuga

        p.p.
          On July 25, 2010, I came upon the DeviantArt profile of a game concept artist named Trent Kaniuga. His work took my breath away. More specifically, it was
          <a href="http://41.media.tumblr.com/tumblr_lfsjvmX8df1qd9jlto1_500.jpg" target=_"blank">this painting of a Marine battling Hydralisks</a> which knocked my socks off. This guy was a god of art and I really, really wanted to <del>trick</del> <ins>recruit</ins> him into working on my game.

        p.p.
          I spent an hour crafting the email I sent to him. Here are a couple snippets from my pitch:

        blockquote.quote
          .quoteBody.quoteBody--small.
            So maybe you&rsquo;ve already heard pitches like this from other people who were dreamers and had ideas they couldn&rsquo;t pull off.  My only difference from them is that I&rsquo;m taking Armies to completion and, if all goes well, profitability.  So my question for you is: do you want to do a little work on what&rsquo;s going to be the funnest, most badass, ground-breaking social game yet made?  For uh, cheap?  I would absolutely love to have your help.

        blockquote.quote
          .quoteBody.quoteBody--small.
            So, if you ARE down to help out, you&rsquo;d really be the coolest guy I know.  Which is quite a laudable distinction and totally worth doing work for next-to-nothing for me.  Oh, and besides an insultingly low amount in payment, I can also offer you my help doing the Flash programming of your next portfolio site.  And who could say no that&hellip;?

        p.p.
          And, what do you know? It worked. Trent, you big softie! Here are a few snippets of his reply:

        blockquote.quote
          .quoteBody.quoteBody--small.
            At first glance, I can see a great deal of potential in your future as a game dev. You&rsquo;ve got a great attitude, and are very personable in your communications, as well as passionate about what you are creating.  It takes a unique kind of personality to balance the artist, the programmer and the businessman, while also having good social skills.  

        blockquote.quote
          .quoteBody.quoteBody--small.
            In my opinion, [Armies] needs a complete visual overhaul.  You need a distinct visual style that sets it apart from other games of its type. It needs to have a bit more flare, and polish.  To do this, I&rsquo;d want to have all new character images, and possibly 2-3 frame animations for each plus new background tiles.  Menu and interface needs a slick new touch, perhaps with animations as you mouse over them. Also, you&rsquo;ll need more interesting names for your unit types. You&rsquo;re going to need a strong logo, and a better title. 

        p.p.
          This is known as the &ldquo;sandwich method&rdquo; of giving feedback. First you say something nice. Then you give the hard criticism in the middle. And then you end it with something nice again:

        blockquote.quote
          .quoteBody.quoteBody--small.
             I&rsquo;d be interested in working with you on your next project. Sort of a&hellip; testing period. I&rsquo;d like to put together something quick, and fun. Maybe a puzzle game, or something that can be made within 3 months of our free time. Polish it, test the hell out of it, balance it, and release it. 

        p.p.
          Remember what I said earlier about cutting out the bullshit? In hindsight, Trent already knew how to do that. As an industry veteran and a life-long creative, he had a ton of experience working on video games and building stuff. If only I had listened&hellip;

        p.p.
          Instead I pushed back, and Trent agreed to provide the art for Armies for a price point that worked for both of us. Two weeks after I first reached out to him, he sent me his first sketch:

        figure
          .image.js-image(
            data-src="aa1_sketches"
            data-type="jpg"
            data-low-res
          )
          figcaption.caption.
            Seeing this in my inbox made me feel like a kid on Christmas Day.

        p.p.
          Trent and I worked closely over the next few months. From that point on, he drove the creative vision behind the game and we came to see each other as partners in a joint venture. Now, years later, he&rsquo;s one of my closest friends and we continue to collaborate together on projects.

        blockquote.panel
          .panelTitle
            | How to ask for help
          p.panel__p.
            The hardest part about asking for help is simply doing it. It&rsquo;s like how 90% of a job is simply showing up. If you want someone&rsquo;s help, just <em>ask</em>.
          p.panel__p.
            Beyond that, ask nicely. Show respect for the person by showing that you have done your homework and point out why you value you them. Show them how they can help you so they understand what you&rsquo;re asking them for and why. And show that you respect their time by not writing a novel when a few paragraphs will do.
          p.panel__p.
            And be honest. Rep yourself truthfully. If you really are a big shot with a huge budget and a stack of successes to sit on, then share that information. But if you&rsquo;re still in the gutter staring at the stars, be honest about that too.

        hr.divider

        h2.h2.
          <em>Atomic</em> Armies

        p.p.
          November 15, 2010. I took down Armies and replaced it with the new, Trent-infused &ldquo;Atomic Armies&rdquo;. The gameplay was generally the same, but the artwork and UI was completely overhauled, and I had added a couple features like a step-by-step onboarding walk-through and an XP-based leveling system.

        figure
          .image.js-image(
            data-src="aa1_logo"
            data-type="jpg"
          )
          figcaption.caption.
            I love typography, so I took this opportunity to design another logotype.

        figure
          .image.js-image(
            data-src="aa1_gameplay"
            data-type="jpg"
            data-low-res
          )
          figcaption.caption.
            A little Trent magic made all the difference.

        figure
          .image.js-image(
            data-src="aa1_units"
            data-type="jpg"
          )
          figcaption.caption.
            New vector unit artwork!

        p.p.
          Trent was delivering artwork faster than I could put it in the game! I had to create new images to represent the different cities in the single-player portion of the game. Unfortunately, I got called for jury duty around this time and, technically being unemployed, I wasn&rsquo;t able to get out of it. So I brought my laptop with me and spent most of my time cobbling together new city images from Trent&rsquo;s art:

        figure
          .image.js-image(
            data-src="aa1_cities"
            data-type="jpg"
          )
          figcaption.caption.
            I pieced together new City images from existing assets.

        p.p.
          I had this idea that players would really want to be able to customize their armies. I thought that picking a color for your army would be a great way to do that, so Trent grudgingly provided me with vector assets, split into separate stroke and color layers. When a player chose a color for their army, their units&rsquo; color layers would hue shift to show the correct color. I guess it was a pretty neat feature?

        p.p.
          There were other cool features I pushed into the game which may not have been worth it. I created an elaborate effects system to allow each unit&rsquo;s attack to be visually unique. For example, the Medtruck unit would emit an undulating heal ray that would arc out and heal friendly units, while lobbed mortar rounds would be controlled by a simple physics sim to be brought down upon the enemy army. There were also sniper rays, machine gun tracer rounds, and laser beams. See for yourself in this gameplay video:

        figure.videoContainer
          iframe.video(
            src="https://player.vimeo.com/video/164033598"
            width="100%"
            height="100%"
            frameborder="0"
            webkitallowfullscreen
            mozallowfullscreen
            allowfullscreen
          )
          figcaption.caption.
            Atomic Armies gameplay.

        hr.divider

        h2.h2.
          Scale Fail

        p.p.
          After a month or so, I decided to open the game to the public and start driving traffic to it. I created a number of Facebook ads and targeted psychographics based on people who were playing my competitors&rsquo; games. I managed to get a click-through rate of up to 1.8%. Typical FB ads had a 0.05% CTR, so this was pretty exciting for me.

        p.p.
          But I knew that driving traffic to the game was only one step. I had three KPIs that really mattered: stickiness (a measure of how often players returned to the game), virality (a measure of how many players recruited their friends to play), and monetization. By the beginning of 2011, none of these numbers were very good.

        ul.list
          li.
            People would play the game like crazy for a few days, and then stop playing entirely.
          li.
            People weren&rsquo;t sharing the game with their friends, probably because I hadn&rsquo;t built in the right social game mechanics to incentivize that kind of behavior.
          li.
            And worst of all, though some players were actually buying my virtual currency, there weren&rsquo;t very many of them. I think I made around $200 in revenue in a couple months.

        p.p.
          By February of 2011, it had dawned on me that I had built several fundamental flaws into my game. It played more like a Flash game than a social game, it didn&rsquo;t contain enough content to sustain a single-player experience, and it lacked the social mechanics to sustain a multi-player experience. Based on the messiness of the codebase, I doubted I would able to fix these crippling problems, and the challenge of being a one-man game dev team for 6 months had worn me down. I felt close to quitting. With my back against the wall, I decided to make a last-ditch effort save Atomic Armies before declaring it a failure.

        blockquote.panel
          .panelTitle
            | How to plan ahead
          p.panel__p.
            I found myself in such a bad spot because I didn&rsquo;t correctly identify my goal and anticipate what reaching it would require. Most of this was due to my inexperience as a developer, let along a game developer.
          p.panel__p.
            You increase your chance of being able to anticipate requirements as you shrink the scope of your goal. But no matter what you goal is, or how big or small it is, you still need to plan ahead and predict steps and challenges that you&rsquo;ll encounter along the way. Try working backwards. What does success look like? What are the components that will let you know you&rsquo;ve succeeded?
          p.panel__p.
            For me, it would have been making money. Walking backwards, this means having players. Having lots of players means the game must be viral, which means it must have strong social mechanics. Clearly, strong social mechanics should have been my focus from day one, since they&rsquo;re so critical to my goal of strong monetization. And continuing to walk backwards, I could have anticipated the importance of clean, maintainable codebase so that I could build and tweak these mechanics quickly. A little planning ahead would have helped me seen the importance of these things.

        h3.h3.
          Partnership?

        p.p.
          I submitted the game to 6waves, a large social and mobile games publisher. If I could get their marketing power behind the game, I could pull more players in and increase revenue. Unfortunately, they saw the same flaws in the game that I did and decided to pass.

        blockquote.quote
          .quoteBody.
            &ldquo;[The review board] liked the art style and audio, but the main challenges were the economy of the game and user retention based on the existing features.  More specifically, the feedback was that there's not enough for people to purchase, the game is balanced such that users run out of coins too easily and there aren't enough motivations for users to come back to the game.&rdquo;
          .quoteFooter.
            &mdash; 6waves&rsquo;s rejection email

        h3.h3.
          VC?

        p.p.
          I thought there was a chance I could fix Atomic Armies&rsquo;s problems if I had more developers, but I needed money to pay them. So I asked Trent for his permission to portray him as our offical Art Director and I put together a
          <a href="https://www.slideshare.net/secret/urQbIdrJ8630CS" target="_blank">pitch deck</a> to shop around with angels like Paige Craig and Tech Coast Angels. While I think I did a good job with the deck, it wasn&rsquo;t enough to hide the problems with Atomic Armies, and I found no takers.

        figure
          .image.js-image(
            data-src="aa1_pitch_slide"
            data-type="jpg"
          )
          figcaption.caption.
            The opening slide from our <a href="https://www.slideshare.net/secret/urQbIdrJ8630CS" target="_blank">pitch deck</a>.

        h3.h3.
          Acquisition?!

        p.p.
          So I thought, &ldquo;Well, if nobody wants to invest, maybe somebody will buy?&rdquo; In March, I went to SF and met with Zynga&rsquo;s Head of Corporate Development, Terence Fung, to see if Zynga would be interested in purchasing Atomic Armies. While I had a great visit with Terence, it was clear that an acquisition was not a possibility. There really was no compelling reason to purchase a game like Atomic Armies or a company like Elevated Games.

        p.p.
          I remember at one point I directly asked Terence: &ldquo;What do we need to do to get acquired?&rdquo; I&rsquo;m sure it sounded pretty desperate. I don&rsquo;t think he quite knew how to answer that.

        h2.h2.
          The Pivot

        p.p.
          Around the same time this was going on, I had a heart-to-heart with Trent about what I had done wrong. I had been out of my depth during the development process, and I really wanted to share more creative control with Trent. Out of that conversation came some thoughts on what we could do <em>next</em>, and what to do <em>better.</em> Before I knew it, we were in full-on creative overdrive, riffing on some exciting new ideas for a new version of Atomic Armies.

        p.p.
          While I was meeting with VCs during the day, Trent was whipping up storyboards to discuss at night.

        figure
          .image.js-image(
            data-src="aa2_sketch_storyboards"
            data-type="jpg"
            data-low-res
          )
          figcaption.caption.
            Trent&rsquo;s awesome storyboards gave me new energy.

        p.p.
          He wanted to take the game in a more story-oriented and visual direction. Awesome! I loved it. I used his assets to create a rough prototype where you could place bunkers and marines on an isometric surface, and watch them shoot each other.

        figure
          .image.js-image(
            data-src="aa2_sketch_buildings"
            data-type="jpg"
          )
          figcaption.caption.
            I made a prototype with these initial assets, and it was immediately fun to play.

        p.p.
          While I was in SF, I demoed this prototype for a room full of programmers at a local meetup, and they loved it! Suddenly, I felt hope.

        p.p.
          At the same time, a game on Facebook had caught my eye: Backyard Monsters. This was an isometric war game, in which you built up a base and an army, and used your army to attack your friends&rsquo; bases. And it had attracted a devoted following of players who absolutely loved it. I saw possibilities of marrying these gameplay mechanics with Trent&rsquo;s new creative vision. After talking it over, we decided to go for it.

    script(
      src="./index.js?v=#{DATE_TIME}"
    )

    //- Google Analytics
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-76865012-1', 'auto');
      ga('send', 'pageview');
