doctype html
html(lang="en")
  head

    title Atomic Armies: A Post-Mortem

    meta(
      charset="utf-8"
    )

    meta(
      name="viewport"
      content="width=device-width, initial-scale=1"
    )

    //- Fonts
    link(
      href = "http://fonts.googleapis.com/css?family=Open+Sans:300,400,700"
      rel = "stylesheet"
      type = "text/css"
    )

    //- CSS
    link(
      type="text/css"
      rel="stylesheet"
      media="all"
      href="./index.css?v=#{DATE_TIME}"
    )

  body

    .body
      .hero
        .heroBg
        .heroGeneral
        .heroLogo
      .heroAftermath.
        <span>A game-dev post-mortem &mdash; <a class="heroLink" href="http://www.cenizal.com" target="_blank">by CJ Cenizal</a></span>

      .bodyContent

        p.p.p--intro.
          This is the story of how I spent 18 months on an adventure to become an entrepreneur, indie game dev, and millionaire. <strong>Spoiler alert:</strong> my dreams of fame and fortune didn&rsquo;t come true. <em>But I did have one hell of a ride</em>.

        p.p.
          I&rsquo;m going to share with you every cringe-worthy mistake I made, but I&rsquo;m also going to tell you about one of the most amazing people I&rsquo;ve ever met and dive into some of the coolest things I&rsquo;ve ever built. My magnum opus was an isometric multiplayer war game called Atomic Armies. I&rsquo;ll walk you down the twisting path that lead to this game&rsquo;s birth and, ultimately, to its demise.

        p.p.
          If you want to play a single-player demo of the game,
          <a href="./game" target="_blank">here it is!</a> (Hint: you can open the console with the ~ key and type in &ldquo;cheat&rdquo; to quickly level up and get a ton of resources.)

        figure
          .image.js-image(
            data-src="aa2_gameplay_example"
            data-type="jpg"
            data-low-res
          )
          figcaption.caption.
            KABOOM!

        h2.h2.
          A rocky start

        p.p.
          This story kicks off in the April of 2010. I was 26 years old, in love with an incredible woman named Karla (whom I would later marry), and I was starting to burn out at the tail-end of a successful visual effects career. For a few years I had been churning out renders of particle systems and simple physics simulations which were composited into commercials and then broadcast on TV. I would do this for a few months at a time, take a break for a week or two, and then repeat the cycle. I started to feel like Phil in Groundhog Day. I needed to break the cycle.

        blockquote.panel
          .panelTitle
            | When to quit your day job
          p.panel__p.
            I think if you feel like you&rsquo;re getting less out of your job than you&rsquo;re putting in, then it&rsquo;s a good time to leave. And this is especially true when you&rsquo;re young and have fewer responsibilities, because that&rsquo;s the best time you can take risks and recover from failure.
          p.panel__p.
            In terms of my job, I had become really good at writing one-off programs that generated interesting visual effects, but I felt like I had hit a plateau. I wasn&rsquo;t learning anything new and I felt like I was wasting my time.
          p.panel__p.
            In terms of risk, I knew I wanted to marry Karla, and down that road lay responsibilities like car loans, a mortgage, and kids. Women have the best chance at a healthy pregnancy before 35, so I had a pretty hard window in which I could attempt my reach goals before I had to get serious about being a grown-up.

        p.p.
          At the time, Mafia Wars had just put Zynga on the map, dazzling tech journalists, entrepreneurs, and VCs with the magic of social gaming. &ldquo;Social&rdquo; was the buzzword of the day (later, &ldquo;mobile&rdquo; and &ldquo;local&rdquo; would usurp the throne). I decided this was my opportunity to quit my day job to fame, glory, and riches. I gave notice and I was on my own.

        p.p.
          It&rsquo;s embarrassing to admit how <em>little</em> I knew about business, entrepreneurship, and game-making when I first started. Game dev consists of making games and then making money with them. Instead of doing that, I spent my first few months doing a lot of things that were, well, not that. The highlights:

        ul.list
          li.
            I thought I needed to establish a formal business. So I created a company called Elevated Games, registered an LLC in Delaware with LegalZoom (which was very affordable, by the way), opened up a business checking around with Chase, designed a company logo and website, and printed up a ton of business cards, most of which are sitting in a box in my garage right now.
          li.
            I thought I needed a business plan, so I paid someone $5,000 to write up a <a href="./assets/downloads/elevated_games_business_plan.pdf" target="_blank">business plan</a>, containing a SWOT analysis and a bunch of other stuff which, surprise, didn&rsquo;t really make a difference except make me poorer.
          li.
            I thought I needed a scalable infrastructure, and I had read something about sharding online which sounded important, so I hired a software engineer from Google to set up some servers for me and build a deployment system. What was I thinking?!
          li.
            I thought I needed to do things &ldquo;right&rdquo;, and at the time doing development right meant doing Scrum. So I read up on story points and burndown charts and sprints, and did a one-man variant of Scrum. Here&rsquo;s my <a href="./assets/product_backlog/index.html" target="_blank">product backlog</a>, which I made with Google Spreadsheets.

        figure
          .image.js-image(
            data-src="elevated_games_card"
            data-type="jpg"
            data-width="905"
          )
          figcaption.caption.
            Not a game.

        p.p.
          When I think back on these mistakes, I like to remind myself that mistakes are learning experiences, and the important thing is to avoid making the same mistake twice.

        blockquote.panel
          .panelTitle
            | How to cut out the bullshit
          p.panel__p.
            If I could go back and do things over, I would have violently avoided doing things that <em>just don&rsquo;t matter.</em> If something doesn&rsquo;t get you closer to your goal&hellip; just don&rsquo;t do it!
          p.panel__p.
            It helps to define an MVP as your goal. Identify some low-hanging fruit to go after, and figure out the quickest route to plucking it. In my case, this shouldn&rsquo;t have been &ldquo;make a million dollars with a social game.&rdquo; That&rsquo;s just too vague and insane. A better goal would have been &ldquo;make a fun single-player game.&rdquo; This goal is specific and clear, and results in a small, well-defined scope.
          p.panel__p.
            Ask yourself, &ldquo;What am I trying to accomplish?&rdquo; This may not be easy to answer. Chew it over and drill down until you come up with something simple and clear. And then ask yourself, &ldquo;What&rsquo;s stopping me from accomplishing that today?&rdquo; You&rsquo;ll end up with a to-do list you can work on immediately, which will inevitably lead you to accomplishing your goal. Chances are, creating an LLC and writing a business plan are not on that list.

        p.p.
          Fortunately, after a few months of screwing around and wasting my limited amount of money, I learned my lesson. I vowed to save my money and focused on developing my game until it was playable.

        h2.h2.
          The MVP: &ldquo;Armies&rdquo;

        blockquote.quote
          .quoteBody.
            The game takes place after a nuclear war, and civilization has been wiped out. You emerge from your bunker and have to reclaim decimated cities, build your tech tree and army, and work with your friends to battle and defeat other players for resources.

        p.p.
          This was the idea behind my MVP game, which I called &ldquo;Armies&rdquo;. The basic idea of the game was simple: you place units on a the left side of a battlefield, which move towards units on the right. When they meet in the middle, they fight. It was essentially an asynchronous multiplayer version of a Flash game I liked, called
          <a href="http://armorgames.com/play/4264/colony" target="_blank">Colony</a>,
          but with some social game mechanics layered on. There was a friends list so you can pick which friend to attack, a log of recent battles won and lost, and of course virtual currency to support my monetization strategy.

        p.p.
          Before I go on, I need to give a shout-out. While at GDC Vancouver, I met a few really talented art students, one of whom was kind of enough to help me out with artwork. Thanks
          <a href="http://www.alexkola.com/" target="_blank">Alex</a>!

        figure
          .image.js-image(
            data-src="aa0_gameplay"
            data-type="jpg"
            data-low-res
          )
          figcaption.caption.
            Armies wasn&rsquo;t the prettiest belle at the ball, but it was playable.

        p.p.
          Armies had a single-player portion allowed you to attack cities, which would earn you a slow, steady stream of resources once conquered. It was inspired by Farmville&rsquo;s core game loop, but with war instead of farming. You could also wage war against your friends which, besides being more fun, would also earn you more resources. When you launched an attack, you would go through a set-up phase where you have to pick the units you want to send into battle and arrange them into a formation. This interaction was inspired by the way the original StarCraft let you load up Dropships and Overlords. With the resources you earned, you could buy more units.

        figure
          iframe.audio(
            width="100%"
            height="100"
            scrolling="no"
            frameborder="no"
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/261447261&amp;auto_play=false&amp;hide_related=true&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;visual=false"
          )
          figcaption.caption.
            Hey it even had its own theme song! Music by sound-genius <a href="http://www.manifestmusicproductions.com/" target="_blank">Adam Berg</a>.

        p.p.
          On June 27, 2010, I entered Armies into beta testing on Facebook. My friends helped me out a <strong>lot</strong> here. The trolls among them were the best. They played the most because they kept discovering game imbalance exploits and would use them to harass other players (I&rsquo;m looking at you, Damien, Ben, and Groves). I gathered some great feedback on what was fun and what wasn&rsquo;t.

        p.p.
          But as you can tell from the screenshots, the game looked a little rough around the edges. But then, in a pivotal moment in my life, all of that changed.

        h2.h2.
          Trent Kaniuga

        p.p.
          On July 25, 2010, I came upon the DeviantArt profile of a game concept artist named Trent Kaniuga. His work took my breath away. More specifically, it was
          <a href="http://41.media.tumblr.com/tumblr_lfsjvmX8df1qd9jlto1_500.jpg" target=_"blank">this painting of a Marine battling Hydralisks</a> which knocked my socks off. This guy was a god of art and I really, really wanted to <del>trick</del> <ins>recruit</ins> him into working on my game.

        p.p.
          I spent an hour crafting the email I sent to him. Here are a couple snippets from my pitch:

        blockquote.quote
          .quoteBody.quoteBody--small.
            So maybe you&rsquo;ve already heard pitches like this from other people who were dreamers and had ideas they couldn&rsquo;t pull off.  My only difference from them is that I&rsquo;m taking Armies to completion and, if all goes well, profitability.  So my question for you is: do you want to do a little work on what&rsquo;s going to be the funnest, most badass, ground-breaking social game yet made?  For uh, cheap?  I would absolutely love to have your help.

        blockquote.quote
          .quoteBody.quoteBody--small.
            So, if you ARE down to help out, you&rsquo;d really be the coolest guy I know.  Which is quite a laudable distinction and totally worth doing work for next-to-nothing for me.  Oh, and besides an insultingly low amount in payment, I can also offer you my help doing the Flash programming of your next portfolio site.  And who could say no that&hellip;?

        p.p.
          And, what do you know? It worked. Trent, you big softie! Here are a few snippets of his reply:

        blockquote.quote
          .quoteBody.quoteBody--small.
            At first glance, I can see a great deal of potential in your future as a game dev. You&rsquo;ve got a great attitude, and are very personable in your communications, as well as passionate about what you are creating.  It takes a unique kind of personality to balance the artist, the programmer and the businessman, while also having good social skills.  

        blockquote.quote
          .quoteBody.quoteBody--small.
            In my opinion, [Armies] needs a complete visual overhaul.  You need a distinct visual style that sets it apart from other games of its type. It needs to have a bit more flare, and polish.  To do this, I&rsquo;d want to have all new character images, and possibly 2-3 frame animations for each plus new background tiles.  Menu and interface needs a slick new touch, perhaps with animations as you mouse over them. Also, you&rsquo;ll need more interesting names for your unit types. You&rsquo;re going to need a strong logo, and a better title. 

        p.p.
          This is known as the &ldquo;sandwich method&rdquo; of giving feedback. First you say something nice. Then you give the hard criticism in the middle. And then you end it with something nice again:

        blockquote.quote
          .quoteBody.quoteBody--small.
             I&rsquo;d be interested in working with you on your next project. Sort of a&hellip; testing period. I&rsquo;d like to put together something quick, and fun. Maybe a puzzle game, or something that can be made within 3 months of our free time. Polish it, test the hell out of it, balance it, and release it. 

        p.p.
          Remember what I said earlier about cutting out the bullshit? In hindsight, Trent already knew how to do that. As an industry veteran and a life-long creative, he had a ton of experience working on video games and building stuff. If only I had listened&hellip;

        p.p.
          Instead I pushed back, and Trent agreed to provide the art for Armies for a price point that worked for both of us. Two weeks after I first reached out to him, he sent me his first sketch:

        figure
          .image.js-image(
            data-src="aa1_sketches"
            data-type="jpg"
            data-low-res
          )
          figcaption.caption.
            Seeing this in my inbox made me feel like a kid on Christmas Day.

        blockquote.panel
          .panelTitle
            | How to ask for help
          p.panel__p.
            The hardest part about asking for help is simply doing it. It&rsquo;s like how 90% of a job is simply showing up. If you want someone&rsquo;s help, just <em>ask</em>.
          p.panel__p.
            Beyond that, ask nicely. Show respect for the person by showing that you have done your homework and point out why you value you them. Show them how they can help you so they understand what you&rsquo;re asking them for and why. And show that you respect their time by not writing a novel when a few paragraphs will do.
          p.panel__p.
            And be honest. Rep yourself truthfully. If you really are a big shot with a huge budget and a stack of successes to sit on, then share that information. But if you&rsquo;re still in the gutter staring at the stars, be honest about that too.

        h2.h2.
          <em>Atomic</em> Armies

        p.p.
          November 15, 2010. I took down Armies and replaced it with the new, Trent-infused &ldquo;Atomic Armies&rdquo;. The gameplay was generally the same, but the artwork and UI was completely overhauled, and I had added a couple features like a step-by-step onboarding walk-through and an XP-based leveling system.

        figure
          .image.js-image(
            data-src="aa1_logo"
            data-type="jpg"
            data-width="1005"
          )
          figcaption.caption.
            I love typography, so I took this opportunity to design another logotype.

        figure
          .image.js-image(
            data-src="aa1_gameplay"
            data-type="jpg"
            data-low-res
          )
          figcaption.caption.
            A little Trent magic made all the difference.

        figure
          .image.js-image(
            data-src="aa1_units"
            data-type="jpg"
            data-width="1206"
          )
          figcaption.caption.
            New vector unit artwork!

        p.p.
          Trent was delivering artwork faster than I could put it in the game! I had to create new images to represent the different cities in the single-player portion of the game. Unfortunately, I got called for jury duty around this time and, technically being unemployed, I wasn&rsquo;t able to get out of it. So I brought my laptop with me and spent most of my time cobbling together new city images from Trent&rsquo;s art:

        figure
          .image.js-image(
            data-src="aa1_cities"
            data-type="jpg"
            data-width="1397"
          )
          figcaption.caption.
            I pieced together new City images from existing assets.

        p.p.
          I had this idea that players would really want to be able to customize their armies. I thought that picking a color for your army would be a great way to do that, so Trent grudgingly provided me with vector assets, split into separate stroke and color layers. When a player chose a color for their army, their units&rsquo; color layers would hue shift to show the correct color. I thought this was a pretty neat feature at the time.

        p.p.
          There were other cool features I pushed into the game which may not have been worth it. I created an elaborate effects system to allow each unit&rsquo;s attack to be visually unique. For example, the Medtruck unit would emit an undulating heal ray that would arc out and heal friendly units, while lobbed mortar rounds would be controlled by a simple physics sim to be brought down upon the enemy army. There were also sniper rays, machine gun tracer rounds, and laser beams. See for yourself in this gameplay video:

        figure
          .videoContainer
            iframe.video(
              src="https://player.vimeo.com/video/164033598"
              width="100%"
              height="100%"
              frameborder="0"
              webkitallowfullscreen
              mozallowfullscreen
              allowfullscreen
            )
          figcaption.caption.
            Atomic Armies gameplay.

        p.p.
          My favorite technical aspect of this game was that every battle was completely deterministic. So, given the same army formations for each side, each battle would unfold in exactly the same way. I leveraged this to add a &ldquo;Replay&rdquo; feature, which allowed players to re-watch past battles with very little data stored in the database.

        h2.h2.
          Scale fail

        p.p.
          After a month or so, I decided to open the game to the public and start driving traffic to it. I created a number of Facebook ads and targeted psychographics based on people who were playing my competitors&rsquo; games. I managed to get a click-through rate of up to 1.8%. Typical FB ads had a 0.05% CTR, so this was pretty exciting for me.

        p.p.
          But I knew that driving traffic to the game was only one step. I had three KPIs that really mattered: stickiness (a measure of how often players returned to the game), virality (a measure of how many players recruited their friends to play), and monetization. By the beginning of 2011, none of these numbers were very good.

        ul.list
          li.
            People would play the game like crazy for a few days, and then stop playing entirely.
          li.
            People weren&rsquo;t sharing the game with their friends, probably because I hadn&rsquo;t built in the right social game mechanics to incentivize that kind of behavior.
          li.
            And worst of all, very few players were buying my virtual currency. In a couple months, my revenue was less than $200.

        p.p.
          By February of 2011, it had dawned on me that I had built several fundamental flaws into my game. It played more like a Flash game than a social game, it didn&rsquo;t contain enough content to sustain a single-player experience, and it lacked the social mechanics to sustain a multi-player experience. Based on the messiness of the codebase, I doubted I would able to fix these crippling problems, and the challenge of being a one-man game dev team for 6 months had worn me down. I felt close to quitting. With my back against the wall, I decided to make a last-ditch effort save Atomic Armies before declaring it a failure.

        blockquote.panel
          .panelTitle
            | How to plan ahead
          p.panel__p.
            I found myself in such a bad spot because I didn&rsquo;t correctly identify my goal and anticipate what reaching it would require. Most of this was due to my inexperience as a developer, let along a game developer.
          p.panel__p.
            You increase your chance of being able to anticipate requirements as you shrink the scope of your goal. But no matter what you goal is, or how big or small it is, you still need to plan ahead and predict steps and challenges that you&rsquo;ll encounter along the way. Try working backwards. What does success look like? What are the components that will let you know you&rsquo;ve succeeded?
          p.panel__p.
            For me, it would have been making money. Walking backwards, this means having players. Having lots of players means the game must be viral, which means it must have strong social mechanics. Clearly, strong social mechanics should have been my focus from day one, since they&rsquo;re so critical to my goal of strong monetization. And continuing to walk backwards, I could have anticipated the importance of clean, maintainable codebase so that I could build and tweak these mechanics quickly. A little planning ahead would have helped me seen the importance of these things.

        h3.h3.
          Partnership?

        p.p.
          I submitted the game to 6waves, a large social and mobile games publisher. If I could get their marketing power behind the game, I could pull more players in and increase revenue. Unfortunately, they saw the same flaws in the game that I did and decided to pass.

        blockquote.quote
          .quoteBody.
            &ldquo;[The review board] liked the art style and audio, but the main challenges were the economy of the game and user retention based on the existing features.  More specifically, the feedback was that there's not enough for people to purchase, the game is balanced such that users run out of coins too easily and there aren't enough motivations for users to come back to the game.&rdquo;
          .quoteFooter.
            &mdash; 6waves&rsquo;s rejection email

        h3.h3.
          VC?

        p.p.
          I thought there was a chance I could fix Atomic Armies&rsquo;s problems if I had more developers, but I needed money to pay them. So I asked Trent for his permission to portray him as our offical Art Director and I put together a
          <a href="https://www.slideshare.net/secret/urQbIdrJ8630CS" target="_blank">pitch deck</a> to shop around with angels like Paige Craig and Tech Coast Angels. While I think I did a good job with the deck, it wasn&rsquo;t enough to hide the problems with Atomic Armies, and I found no takers.

        figure
          .image.js-image(
            data-src="aa1_pitch_slide"
            data-type="jpg"
            data-width="630"
          )
          figcaption.caption.
            The opening slide from our <a href="https://www.slideshare.net/secret/urQbIdrJ8630CS" target="_blank">pitch deck</a>.

        h3.h3.
          Acquisition?!

        p.p.
          So I thought, &ldquo;Well, if nobody wants to invest, maybe somebody will buy?&rdquo; In March, I went to SF and met with Zynga&rsquo;s Head of Corporate Development, Terence Fung, to see if Zynga would be interested in purchasing Atomic Armies. While I had a great visit with Terence, it was clear that an acquisition was not a possibility. There really was no compelling reason to purchase a game like Atomic Armies or a company like Elevated Games.

        p.p.
          I remember at one point I directly asked Terence: &ldquo;What do we need to do to get acquired?&rdquo; I&rsquo;m sure it sounded pretty desperate. I don&rsquo;t think he quite knew how to answer that.

        h2.h2.
          Pivoting

        p.p.
          Around the same time this was going on, I had a heart-to-heart with Trent about what I had done wrong. I had been out of my depth during the development process, and I really wanted to share more creative control with Trent. Out of that conversation came some thoughts on what we could do <em>next</em>, and what to do <em>better.</em> Before I knew it, we were in full-on creative overdrive, riffing on some exciting new ideas for a new version of Atomic Armies.

        p.p.
          While I was meeting with VCs during the day, Trent was whipping up storyboards to discuss at night.

        figure
          .image.js-image(
            data-src="aa2_sketch_storyboards"
            data-type="jpg"
            data-low-res
          )
          figcaption.caption.
            Trent&rsquo;s awesome storyboards gave me new energy.

        p.p.
          He wanted to take the game in a more story-oriented and visual direction. Awesome! I loved it. I used his assets to create a rough prototype where you could place bunkers and marines on an isometric surface, and watch them shoot each other.

        figure
          .image.js-image(
            data-src="aa2_sketch_buildings"
            data-type="jpg"
            data-width="942"
          )
          figcaption.caption.
            I made a prototype with these initial assets, and it was immediately fun to play.

        p.p.
          While I was in SF, I demoed this prototype for a room full of programmers at a local meetup, and they loved it! Suddenly, I felt hope.

        p.p.
          At the same time, a game on Facebook had caught my eye: Backyard Monsters. This was an isometric war game, in which you built up a base and an army, and used your army to attack your friends&rsquo; bases. And it had attracted a devoted following of players who absolutely loved it. I saw possibilities of marrying these gameplay mechanics with Trent&rsquo;s new creative vision. After talking it over, we decided to go for it.

        blockquote.panel
          .panelTitle
            | How to work with a partner
          p.panel__p.
            TODO

        h2.h2.
          Remaking Atomic Armies

        figure
          .image.js-image(
            data-src="aa2_logo"
            data-type="jpg"
            data-width="885"
          )
          figcaption.caption.
            A brand new logo!

        p.p.
          Over the course of six months, we rebuilt Atomic Armies as an isometric war game. My goal was to make StarCraft for Facebook.

        figure
          .image.js-image(
            data-src="aa2_screenshots"
            data-type="jpg"
            data-low-res
          )
          figcaption.caption.
            I&rsquo;m really proud of the level of polish our two-person team was able to accomplish.

        figure
          .image.js-image(
            data-src="aa2_buildings"
            data-type="jpg"
            data-low-res
          )
          figcaption.caption.
            The buildings in the top row made it into the game, but I didn&rsquo;t have time to add the doodads in the bottom row.

        figure
          .image.js-image(
            data-src="aa2_alphabet"
            data-type="jpg"
            data-width="672"
          )
          figcaption.caption.
            I even made a custom typeface, called Atomic Alphabet!
            <a href="./assets/downloads/AtomicAlphabet.otf">Download it and try it out.</a>

        p.p.
          Want to play a single-player demo?
          <a href="./game" target="_blank"><strong><em>Of course you do!</em></strong></a> Hint: you can open the console with the ~ key and type in &ldquo;cheat&rdquo; to quickly level up and get a ton of resources.

        h2.h2.
          Challenges

        p.p.
          A whole slew of new challenges came with this pivot. Early on in this second stage of our project, on April 22, 2011, Trent pointed out our critical challenge:

        blockquote.quote
          .quoteBody.quoteBody--small.
            The primary problems that we will face will derive from the complexity of design for a project of this scope. We haven&rsquo;t even gotten to the part where we are actually making a game yet. AND NOT unreasonably btw&hellip; with such limited resources.  Building the assets is only a part of the game development process.  This is kind of why AA 1 was not so fun.  Hardly any time was spent on the design.

        blockquote.quote
          .quoteBody.quoteBody--small.
            Normally, a designer would be steering the boat on what unit types, and building values we should be developing.  So we are very much &ldquo;feeling it out&rdquo;, hoping that it comes together later.  But we kind of have to do it that way since we are only 2 people.  This is what I mean when I talk about the scope of the project being too large.  This is another reason why I pushed for a simpler project.

        p.p.
          Once again, Trent pointed out a more reasonable path forward and once again I didn&rsquo;t get the message. Here were some of the biggest hurdles we encountered:

        h3.h3.
          We wanted way more content

        p.p.
          The first version of Atomic Armies had non-animated units, which only faced in one direction. The time around, we were adding buildings into the mix, we were going to animate both the units and the buildings (the units would need walk, attack, and death animations), and the units would need to be portrayed facing in 5 different directions. This created an <strong>enormous</strong> workload for Trent. As fast as he could work, it still took a long time to get all of the art ready. Fortunately (or unfortunately?), I had an equally enormous development task ahead of me.

        figure
          .image.js-image(
            data-src="aa2_units"
            data-type="jpg"
            data-low-res
          )
          figcaption.caption.
            Each unit required 4x to 10x as much artwork as in the original.

        p.p.
          All of our animations needed to be stored as spritesheets, so I built a special tool for Trent to use to convert his artwork into game-ready assets. Building and maintaining this tool took time.

        p.p.
          I also needed to create new bases for the NPCs in the single-player campaign. I needed to create a rapid iteration loop where I could tweak a base and quickly try it out. To do that, I built an app called AtomicEditor which would let me load and save bases as CSV files, which I could then test in the game. This was another tool which took time to build and maintain.

        h3.h3.
          We needed a lot of new &ldquo;glue&rdquo; systems

        p.p.
          I needed new systems for the &ldquo;glue&rdquo; of the game: an animation system, a tutorial scripting system, a dialogue scripting system, and resource-production and resource-management systems, to name a few. Fortunately, I was able to apply many of the lessons I had learned from building the glue systems for the first Atomic Armies. Unfortunately, I&rsquo;ve realized I need to do things wrong two or three times before I finally figure out how to do them right. :)

        figure
          .image.js-image(
            data-src="aa2_npcs"
            data-type="jpg"
            data-low-res
          )
          figcaption.caption.
            We introduced NPCs that displayed different emotions depending on the in-game dialogue. From top to bottom: The Chief, Red Reject, Slime, Bread Faction, Killbot.

        figure
          .image.js-image(
            data-src="aa2_explosions"
            data-type="jpg"
            data-low-res
          )
          figcaption.caption.
            Animations like these explosions required their own system.

        p.p.
        h3.h3.
          Isometric space introduced a ton of new issues

        p.p.
          The core shift to an isometric game meant that I had to store the location of all renderable game objects in isometric game-space, and then map their coordinates to screen-space when rendering them. Fortunately, <a href="https://github.com/as3isolib/as3isolib.v1" _target="_blank">As3isolib</a> solved this coordinate-tracking problem for me (and I became friends with its author, Justin Opitz).

        p.p.
          However, performance was an issue. Walls were composed of individual blocks, and players would need to build a lot of walls. Rendering each of these blocks as layered sprites slowed performance down to a crawl. I solved this problem by rendering each game object to a single bitmap, and then displaying that bitmap each frame. This process is called blitting.

        p.p.
          But then this created a new problem: hit-testing. With mouse events being dispatched from a single bitmap, how could I tell which game object the cursor was currently interacting with? My solution was to blit a uniquely-colored silhouette of each game object to a separate bitmap.  To correlate mouse position with a unit, I would determine the color of the pixel that the cursor was over, and then use this unique color to identify the corresponding game object. I created an open source library called <a href="https://github.com/cjcenizal/Blis" _target="_blank">Blis (BLitting Isometric System)</a> to handle this logic.

        h2.h2.
          The good parts

        p.p.
          Some of these challenges were also much easier to overcome than I thought, largely due to the great third-party tools that were available. I learned a lot about the Entity Component System architecture from <a href="http://www.richardlord.net/blog/what-is-an-entity-framework" _target="_blank">Richard Lord&rsquo;s blog</a>, and utilized its concepts with the <a href="https://github.com/PushButtonLabs/PushButtonEngine" _target="_blank">PushButton Engine framework</a> (and I later became friends with its author, <a href="https://bengarney.com/" target="_blank">Ben Garney</a>). We used PlayerIO (eventually sold to <a href="http://gamesplatform.co/" target="_blank">The Game Platform Company</a>) to provide the back-end and handle multiplayer networking (and I later became friends with one of its founders, <a href="http://chrisbenjaminsen.com/" target="_blank">Chris Benjaminsen</a>). And I learned a lot about game programming patterns from the aptly-named <a href="http://gameprogrammingpatterns.com/" target="_blank">Game Programming Patterns book</a> by Robert Nystrom. Incidentally, the design of this book had a huge influence on me in terms of documentation design, which would affect me throughout my later career.

        p.p.
          One of the best things to come out of this process was that I learned how much I love UI and UX development. I spent way too much time fine-tuning things like visual appearance, transitions, animations, and interactive states to make every little micro-interaction as fun as possible.

        figure
          .image.js-image(
            data-src="aa2_animation_full"
            data-type="gif"
            data-low-res
          )
          figcaption.caption.
            I asked Trent to make &ldquo;full&rdquo; Generators look painfully bloated, to make users feel compelled to relieve them of their resources.

        figure
          .image.js-image(
            data-src="aa2_animation_harvest"
            data-type="gif"
            data-low-res
          )
          figcaption.caption.
            Resource-collection should be an enjoyable activity, so I designed resources to look like candy, and animated them to playfully bounce out onto the ground.

        figure
          .image.js-image(
            data-src="aa2_animation_landing"
            data-type="gif"
            data-low-res
          )
          figcaption.caption.
            When you send troops to attack an enemy base, a delivery pod slams into the ground, causing the ground to shake.

        figure
          .image.js-image(
            data-src="aa2_animation_boom"
            data-type="gif"
            data-low-res
          )
          figcaption.caption.
            I wanted you to feel it in your gut when you destroyed a building: they explode, shake the ground, and vomit resources.

        figure
          .image.js-image(
            data-src="aa2_animation_walls"
            data-type="gif"
            data-low-res
          )
          figcaption.caption.
            Even an action as mundane as placing walls should be fun and simple, so I used the A* path-finding algorithm to wrap walls around buildings and other obstacles.

        p.p.
          I also worked motion-based cues into aspects of the UI.

        figure
          .image.js-image(
            data-src="aa2_animation_no"
            data-type="gif"
            data-low-res
          )
          figcaption.caption.
            When you try to perform a disallowed action, you get a feedback tooltip which shakes back and forth, like a person shaking his or head &ldquo;no&rdquo;.

        figure
          .image.js-image(
            data-src="aa2_animation_prompt"
            data-type="gif"
            data-low-res
          )
          figcaption.caption.
            When you start the game, you enter an onboarding tutorial. I made the &ldquo;continue&rdquo; button pulse at intervals, to grab the user&rsquo;s attention and make you want to click.

        figure
          .image.js-image(
            data-src="aa2_animation_modal"
            data-type="gif"
            data-low-res
          )
          figcaption.caption.
            I added a staggered animation to the modal transition-in, to make it feel bouncy and bubbly.

        h2.h2.
          Game over

        p.p.
          On October 18, 2011, we launched the new and improved Atomic Armies. The only problem was, after pouring a ton of effort into it, it seemed like the end still wasn&rsquo;t in sight. We were missing tons of content and features, we hadn&rsquo;t spent any time developing the game mechanics, let alone the social mechanics, and there were plenty of bugs to fix. Not only did the game still need a lot of work, the codebase was messy and too unwieldy for me to get the work done in a reasonable timeframe.

        p.p.
          I made a <a href="./assets/downloads/atomic_armies_design_doc.pdf" target="_blank">design doc</a> to capture our vision for the game. I thought it was a fantastic vision, but I didn&rsquo;t think we could deliver on it.

        figure
          .image.js-image(
            data-src="aa2_design_doc"
            data-type="jpg"
            data-width="667"
          )
          figcaption.caption.
            <a href="./assets/downloads/atomic_armies_design_doc.pdf" target="_blank">Atomic Armies design doc.</a>

        p.p.
          Life was also starting to get real. I had been eating Subway pretty much every day and my health was suffering. I was planning on proposing to Karla and my savings were dwindling. I took stock of my current situation. I had spent a year and a half learning about things that now seemed worthless:

        ul.list
          li.
            I had thrown myself into game development, which is a notoriously difficult industry in which to make money.
          li.
            I had committed to succeeding in the social games industry, which was now dying as everybody fled web-based gaming to play games on their phones.
          li.
            And of all things, I had chosen to do all of this in Flash and AS3. Which, as Steve Jobs had famously proclaimed, was dead. Supplanted by native languages and HTML5.

        p.p.
          There was very little demand for the skills and knowledge I had worked so hard for. I felt sick. What was I doing with my life? What the hell could I do next? I suddenly wasn&rsquo;t sure and it scared the shit out of me.

        p.p.
          I needed to decide on a career path, so I could pay for a wedding, a house, supporting a family, and the rest of the things that come with the life I wanted. I interviewed at several social games companies and found them all incredibly depressing. I decided I didn&rsquo;t want to work in games.

        p.p.
          Instead, I wanted to build products people could use and enjoy, and I wanted to work on the UI/UX side of things. Over the course of the next four years, I built up a successful career as a UI Engineer and now I&rsquo;m very happy. Karla and I are happily married. Trent attended our wedding. We&rsquo;re good friends today and we still collaborate on projects together. Everything worked out in the end.

        blockquote.panel
          .panelTitle
            | How to switch careers
          p.panel__p.
            TODO

        h2.h2.
          Lessons learned

        p.p.
          I think it&rsquo;s pretty awesome how much Trent and I did, and how genuinely great Atomic Armies could have been, if it had the right resources and experience behind it. I think I read the market right in many ways. Games were definitely ready to get more &ldquo;hardcore&rdquo;. But I don&rsquo;t think reading a market right matters&hellip; clearly, execution is what matters, and I was completely unprepared for what solid execution demanded of me.


    script(
      src="./index.js?v=#{DATE_TIME}"
    )

    //- Google Analytics
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-76865012-1', 'auto');
      ga('send', 'pageview');
